.body {
	width: 1440px;
	height: 1737px;
	background-color: #F6F8F9;
}

.header {
	width: 1440px;
	height: 50px;
	position: fixed;
	background-color: #F6F8F9;
	z-index: 9999999;
}
.div-1 {
	padding: 15px 15px;
}
.active {
	font-weight: bold;
}

.sp {
	font-size: 13px;
	color: #FA6980;
	font-weight: bold;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
	display: inline-block;
	vertical-align: middle;
	margin-right: 60px;
}
.nav-ul {
	font-size: 11px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
	display: inline-block;
	vertical-align: middle;
}
.li-1 {
	display: inline-block;
	margin-right: 30px;
}

.cris {
	display: inline-block;
	vertical-align: middle;
}

/*section-1 start*/

.section-1 {
	padding-top: 100px;
}
.main-box {
	width: 1160px;
	margin: auto;
}

.h2 {
	font-size: 24px;
	font-weight: bold;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	margin-bottom: 40px;
	margin-top: 40px;
}

.sp1 {
	position: relative;
	display: inline-block;
}
.sp2 {
	margin-right: 35px;
}
.tx1 {
	position: absolute;
	color: #FFFFFF;
	font-size: 16px;
	top: 20px;
	left: 20px;
}

.sp3 {
	width: 360px;
	height: 180px;
	background-color: #FFFFFF;
	display: inline-block;
	position: relative;
}
.tx2 {
	color: #A6ADB4;
	font-size: 13px;
	font-family: Acumin Pro;
	position: absolute;
	top: 50px;
	left: 30px;
	display: inline-block;
}
.minitx {
	color: #A6ADB4;
	font-size: 13px;
	margin-top: 90px;
	margin-left: 30px;
}
/*section 1 end*/

/*section 2 start*/

.section-2-photo {
	width: 760px;
	height: 900px;
	display: inline-block;
	margin-right: 30px;
	vertical-align: top;
}
.photo-dist {
	margin-bottom: 20px;
}
.section-2-photo-2 {
	width: 360px;
	height: 896px;
	display: inline-block;
	vertical-align: top;
}
.photo-dis2 {
	margin-bottom: 70px;
}

.relative {
	position: relative;
}
.h3-absolute {
	position: absolute;
	color: white;
	font-weight: bold;
	font-size: 22px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/*section 2 end*/
 
 /*start footer*/

 .footer {
 	margin-top: 30px;
 	width: 1440px;
 	height: 200px;
 	background-color: #A6ADB4;
 }
.main-div {
	padding-top: 60px;
	padding-left: 80px;
}
 .logo {
 	color: #FFFFFF;
 	font-size: 13px;
 	font-weight: bold;
 	display: inline-block;
 	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
 	padding-right: 60px;
 	vertical-align: top;
 }

 .nav-1 {
 	display: inline-block;
 	font-size: 13px;
 	color: #CBD0D3;
 	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
 	padding-right: 60px;
 	vertical-align: top;
 }
 .ul-1 {
 	line-height: 20px;
 }
.ptext {
	font-size: 11px;
	display: inline-block;
	vertical-align: top;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #CBD0D3;
	padding-right: 80px;
}

.img-logo {
	vertical-align: top;
	padding-right: 40px;
}

